@tailwind utilities;

@layer utilities {
  .container {
      @apply min-h-screen flex justify-center items-center;
  }
  
  .form {
    @apply w-80 p-6 border border-solid border-gray-300 rounded-lg flex flex-col gap-3;
  }

  .input {
    @apply p-2.5 text-sm;
  }

  .button {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600;
  }
}


