@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@layer utilities {
  .container {
      @apply min-h-screen flex justify-center items-center;
  }
  
  .form {
    @apply w-80 p-6 border border-solid border-gray-300 rounded-lg flex flex-col gap-3;
  }

  .input {
    @apply p-2.5 text-sm;
  }

  .button {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600;
  }
}